---
import type { CollectionEntry } from "astro:content";
import CategoryList from "./CategoryList.astro";
import { Image } from "astro:assets";
type Props = {
  post: CollectionEntry<"posts">;
};

const {
  slug,
  body,
  data: { title, image, categories, date },
} = (Astro.props as Props).post;
---

<article
  class="grid grid-cols-2 gap-x-12 gap-y-5 mb-28 max-lg:grid-cols-1 max-sm:mb-12"
>
  <a href={`/blog/${slug}`}>
    <Image
      src={image || ''}
      alt={title}
      width={1024}
      height={1024 / 2}
      class="rounded-2xl aspect-thumbnail object-cover"
      format="webp"
      decoding="async"
      loading="lazy"
    />
  </a>
  <div>
    <div class="mb-4">
      <CategoryList {categories} />
    </div>
    <a
      href={`/blog/${slug}`}
      class="text-5xl text-zinc-900 mb-4 font-bold inline-block"
    >
      <h2>{title}</h2>
    </a>
    <p class="text-zinc-500 text-2xl mb-9 line-clamp-3 max-xl:lineclamp-2" >
        {body}
    </p>
    <span class="text-zinc-500 text-2xl mb-9 lin-clamp-3 max-xl:line-clamp-2">{date}</span>
  </div>
</article>
